.container {
  position: relative;
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
}

.holder {
  position: relative;
  width: 450px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

.dvjs_video {
  width: 100%;
  height: 100%;
}

.ua-parser-info {
  margin-top: 20px;
}
